/* FRONT-END STYLES */
#loginform {
  width: 350px;
}
#loginform input {
  display: block;
  width: 100%;
}
#wp-submit {
  color: white;
  background-color: #9d0927;
  padding: 10px 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px !important;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr td:first-child() {
  width:20%;
}
tr td:nth-child(2) {
  width:30%;
}
tr td:nth-child(3) {
  width:15%;
}
tr td:nth-child(4) {
  width:10%;
  text-transform: capitalize;
}
tr td:nth-child(5) {
  width:10%;
  text-transform: capitalize;
}
tr td:last-child {
  width:15%;
}

.wpcf7-form-control-signature-body {
  border: 1px solid gray;
}
#wpcf7_project-signature_clear, input.wpcf7-submit {
  width: 300px;
}
input.wpcf7-submit{
  margin-top: -30px;
}
.modal {
  top:30%;
}
.ui-widget-header {
    border: 1px solid #eeeeee;
    background: #eeeeee;
    color: #ffffff;
    font-weight: bold;
}